div#cuerpesito {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
}

.modificar {
  -ms-grid-column: 2;
  grid-column: 2;
}

body {
  text-align: center;
  background-image: url(../../img/playa_formulario.jpg);
}
/*# sourceMappingURL=estilos.css.map */