div#cuerpesito{
    display: grid;
    grid-template-columns: 25% 25% 25%  ;
}

.modificar{
    grid-column: 2;
}
body{
    text-align: center;
    background-image: url(../../img/playa_formulario.jpg);
}