*{
    margin: 0;
    padding:0;
    font-family: glimmer;
}
body{
    text-align: center;
    background-image: url(../../img/playa_formulario.jpg);
}

header{
    background-color: #64b0f2b6;
    padding-bottom: 15px;
    padding-top: 10px;
}
#formulario{
    padding: 20px;
    background-color:#64b0f2b6 ;
}
