* {
  margin: 0;
  padding: 0;
  font-family: glimmer;
}

body {
  text-align: center;
  background-image: url(../../img/playa_chiquita.png);
}

header {
  background-color: #64b0f2b6;
  padding-bottom: 15px;
  padding-top: 10px;
}

#formulario {
  padding: 20px;
  background-color: #64b0f2b6;
}

@font-face {
  font-family: glimmer;
  src: url(../../fonts/glimmer_of_light/glimmer_of_light.otf);
}
/*# sourceMappingURL=estilos.css.map */