div.contenido {
    display: grid;
    grid-template-columns: 30% 70%;
    align-content: center;
}


div.contenido img{
    grid-column: 1;
    height: 380px;
    width: 520px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
}

div.contenido .texto {
    grid-column: 2;
    font-weight: bold;
}

.title{
    color: rgb(67, 173, 192);
    font-size: 72px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 100px;
}
div.contenido p{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 100px;
}

div.details {
    float: right;
    display: inline-grid;
    grid-template-columns: 30% 30%;    
}

.details1 {
    grid-column: 1;
    text-align: center;
    text-decoration: underline;
}

.details2 {
    grid-column: 2;
    text-align: left;
    text-decoration: underline;
}

@media  (max-width: 1830px){
div.contenido{
    grid-template-columns: 40% 60%;
}
@media screen and (max-width:1700px){
    div.entrada p{
        padding-top: 0%;
    }
}
}
@media (max-width: 1380px){
    p.title{
        font-size: 50px;
    }
}