div.fondo {
    background-image: url(../img/piscina_1_landscape_2.jpg);
    height: 525px;
}

div.entrada p{
    color: white;
    text-align: center;
    width: 45%;
    margin-left: 30%;
    padding-top: 5%;
    font-size: 60px;
    border-bottom: 1px solid white;

}
.estrellitas {
    
    text-align: center;
}