* {
  margin: 0px;
  padding: 0px;
  font-family: glimmer;
}
header {
  height: 160px;
  display: grid;
  width: 100%;
  color: white;
  background-color: rgba(67, 173, 192, 0.85);
  border-radius: 0px 0px 14px 14px;
  grid-template-columns: 25% 50% 20%;
  grid-template-rows: 70% 30%;
}


div.titulo {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 60px;
  -webkit-text-stroke: 0.5px rgba(112, 112, 112, 0.53);
}

div.titulo img {
  height: 115px;
}
div.dos {
  display:none;
}

div.idioma {
  display: grid;
  grid-column: 3;
  grid-template-columns: 50% 50%;
  text-align: center;
}

div.idioma span {
  padding-top: 25%;
  text-align: left;
  grid-column: 2;
  font-size: 18px;
}
div.idioma img {
  grid-column: 1;
  padding-top: 13%;
  float: right;
  height: 70px;
  transform: scale(0.5);
  margin-top: 15px;
}

div.checkButton {
  margin: auto;
}

div.checkButton button {
  height: 40px;
  width: 200px;
  border: solid rgba(112, 112, 112, 0.53) 1.5px;
  border-radius: 18px 18px 18px 18px;
  background-color: white;
  color: rgba(67, 173, 192, 0.85);
  font-size: 18px;
  text-align: center;
}
.subnav{
    text-align: center;
}

.navigation li {
  display: inline-block;
  font-size: 12px;
  margin-left: 22px;
}

