@media screen and (max-width:950px){
    header{
      grid-template-columns: 15% 65% 20%;
    }
  
  div.titulo img {
    height: 90px;
  }
  div.entrada p{
    font-size: 55px;
  }
  div.contenido {
   display: inline;

  }
  div.contenido img{

    grid-row: 1;
    grid-column-start:1;
    grid-column-end: 2;
    width: 95%;
    height: 500px;
    margin-left: 2%;
  }
  div.contenido .texto{
    grid-column: 1;
    grid-row: 2;
  }
  
  }

@media screen and (max-width: 480px){

header{
    background-color: white;
    color:rgb(67, 173, 192) ;   
    grid-template-columns: 20% 80%;
    height: 28%;
}

div.dos{
    font-size: 40%;
    display: inline-block; 
    margin-top: 2%;
   padding: 0%;
}
div.dos img{
    float: left;
   width: 90px;
   height: 80px;
  
}
img.uno{
    display: none;
}
div.contenido{
    display: inline-block;
    margin: 0;
    padding:0;
    color: rgb(47, 102, 143);
    
}
div.contenido div.texto p.title{
    font-size: 210%;
}
div.contenido div.texto p{
    font-weight: 700;
}

div.contenido img{
    margin: 0;
    width: 100%;
    height: 280px;
}
.checkButton{
   display:none; 
}
div.idioma,nav.subnav{
    display: none;
}

div.fondo{
    background-image: url(../img/playa_chiquita.png);
    background-repeat: no-repeat;
    height: 500px;
}

div.entrada p{
    font-size: 40px; 
     width: 90%;    
     margin-left: 5%;
    padding-top: 6%;
}
div.estrellitas{
    display: none;

}
div.despleg{
    margin-left: 30%;
}
@media screen and (max-width:420px){
    div.dos{
        margin-top: 0%;
        font-size:35%;
    }
    div.dos img{
        width: 80px;
        height: 80px;
    }
    div.contenido img{
    margin: 0;
    width: 100%;
    height: 280px;
}   
}
div.subrese button{
    display: inline;
    text-align: center;
    background-color: rgb(105, 208, 226);
    color: white;
    width: 100%;
    padding:1% 0%;
    margin-bottom: 2%;
    border: solid rgba(112, 112, 112, 0.53) 1.5px;
    border-radius: 18px 18px 18px 18px;

    }
   footer.submenu{
      
       display: inline;
    
   } 
   nav.footnav{ 
     
       text-align: center;
        background-color: rgb(67, 173, 192) ;
        color: white;  
        height: 50px;
    border-radius: 18px 18px 0px 0px;
   }
   footer.submenu ul{
    list-style-type: none;
    margin-left:20%;
    padding: 0;
    overflow: hidden;

  
}
   footer.submenu li{
       float: left;
       padding-right: 20%;
   }
}
