.despleg {
    padding-top: 45px;
    margin-left: 50px;
  }
  .sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(38, 128, 144);
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing: border-box;
    
    border: solid rgba(112, 112, 112, 0.53) 2px;
    border-radius: 0px 18px 18px 0px;
  }
  .sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
  }
  .sidebar a {
    text-decoration: none;
    color: white;
  }
  
  .sidebar ul {
  list-style:none ;
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width: 200px;
  }
  .sidebar li{
      margin: 10% auto ;
  }
  .rayitas {
    background-color: rgb(67, 173, 190);
    border-color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
  }
  #formulario{
    position: static;
    height: 0%;
    width: 0;
    display:none;
  
  }
  #button{
    width: 205px;
  }
  
  #formulario2{
    position: static;
    height: 0%;
    width: 0;
    display:none;
  
  }