div.fondo {
  background-image: url(../img/piscina_1_landscape_2.jpg);
  height: 525px;
}

div.entrada p {
  color: white;
  text-align: center;
  width: 45%;
  margin-left: 30%;
  padding-top: 5%;
  font-size: 60px;
  border-bottom: 1px solid white;
}

.estrellitas {
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: glimmer;
}

header {
  height: 160px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  color: white;
  background-color: rgba(67, 173, 192, 0.85);
  border-radius: 0px 0px 14px 14px;
  -ms-grid-columns: 25% 50% 20%;
      grid-template-columns: 25% 50% 20%;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
}

div.titulo {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 60px;
  -webkit-text-stroke: 0.5px rgba(112, 112, 112, 0.53);
}

div.titulo img {
  height: 115px;
}

div.dos {
  display: none;
}

div.idioma {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  text-align: center;
}

div.idioma span {
  padding-top: 25%;
  text-align: left;
  -ms-grid-column: 2;
  grid-column: 2;
  font-size: 18px;
}

div.idioma img {
  -ms-grid-column: 1;
  grid-column: 1;
  padding-top: 13%;
  float: right;
  height: 70px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  margin-top: 15px;
}

div.checkButton {
  margin: auto;
}

div.checkButton button {
  height: 40px;
  width: 200px;
  border: solid rgba(112, 112, 112, 0.53) 1.5px;
  border-radius: 18px 18px 18px 18px;
  background-color: white;
  color: rgba(67, 173, 192, 0.85);
  font-size: 18px;
  text-align: center;
}

.subnav {
  text-align: center;
}

.navigation li {
  display: inline-block;
  font-size: 12px;
  margin-left: 22px;
}

div.contenido {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -ms-flex-line-pack: center;
      align-content: center;
}

div.contenido img {
  -ms-grid-column: 1;
  grid-column: 1;
  height: 380px;
  width: 520px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
}

div.contenido .texto {
  -ms-grid-column: 2;
  grid-column: 2;
  font-weight: bold;
}

.title {
  color: #43adc0;
  font-size: 72px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 100px;
}

div.contenido p {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 100px;
}

div.details {
  float: right;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 30% 30%;
      grid-template-columns: 30% 30%;
}

.details1 {
  -ms-grid-column: 1;
  grid-column: 1;
  text-align: center;
  text-decoration: underline;
}

.details2 {
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: left;
  text-decoration: underline;
}

@media (max-width: 1830px) {
  div.contenido {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
}

@media screen and (max-width: 1830px) and (max-width: 1700px) {
  div.entrada p {
    padding-top: 0%;
  }
}

@media (max-width: 1380px) {
  p.title {
    font-size: 50px;
  }
}

.despleg {
  padding-top: 45px;
  margin-left: 50px;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #268090;
  overflow-x: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 1rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid rgba(112, 112, 112, 0.53) 2px;
  border-radius: 0px 18px 18px 0px;
}

.sidebar .boton-cerrar {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  display: block;
  padding: 0;
  line-height: 1.5rem;
  margin: 0;
  height: 32px;
  width: 32px;
  text-align: center;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar ul {
  list-style: none;
  margin: 4rem auto;
  display: block;
  width: 80%;
  min-width: 200px;
}

.sidebar li {
  margin: 10% auto;
}

.rayitas {
  background-color: #43adbe;
  border-color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
}

#formulario {
  position: static;
  height: 0%;
  width: 0;
  display: none;
}

#button {
  width: 205px;
}

#formulario2 {
  position: static;
  height: 0%;
  width: 0;
  display: none;
}

div.subrese {
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
}

div.subrese button {
  display: none;
}

footer.submenu {
  display: none;
}

@media screen and (max-width: 950px) {
  header {
    -ms-grid-columns: 15% 65% 20%;
        grid-template-columns: 15% 65% 20%;
  }
  div.titulo img {
    height: 90px;
  }
  div.entrada p {
    font-size: 55px;
  }
  div.contenido {
    display: inline;
  }
  div.contenido img {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    width: 95%;
    height: 500px;
    margin-left: 2%;
  }
  div.contenido .texto {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media screen and (max-width: 480px) {
  header {
    background-color: white;
    color: #43adc0;
    -ms-grid-columns: 20% 80%;
        grid-template-columns: 20% 80%;
    height: 28%;
  }
  div.dos {
    font-size: 40%;
    display: inline-block;
    margin-top: 2%;
    padding: 0%;
  }
  div.dos img {
    float: left;
    width: 90px;
    height: 80px;
  }
  img.uno {
    display: none;
  }
  div.contenido {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #2f668f;
  }
  div.contenido div.texto p.title {
    font-size: 210%;
  }
  div.contenido div.texto p {
    font-weight: 700;
  }
  div.contenido img {
    margin: 0;
    width: 100%;
    height: 280px;
  }
  .checkButton {
    display: none;
  }
  div.idioma, nav.subnav {
    display: none;
  }
  div.fondo {
    background-image: url(../img/playa_chiquita.png);
    background-repeat: no-repeat;
    height: 500px;
  }
  div.entrada p {
    font-size: 40px;
    width: 90%;
    margin-left: 5%;
    padding-top: 6%;
  }
  div.estrellitas {
    display: none;
  }
  div.despleg {
    margin-left: 30%;
  }
}

@media screen and (max-width: 480px) and (max-width: 420px) {
  div.dos {
    margin-top: 0%;
    font-size: 35%;
  }
  div.dos img {
    width: 80px;
    height: 80px;
  }
  div.contenido img {
    margin: 0;
    width: 100%;
    height: 280px;
  }
}

@media screen and (max-width: 480px) {
  div.subrese button {
    display: inline;
    text-align: center;
    background-color: #69d0e2;
    color: white;
    width: 100%;
    padding: 1% 0%;
    margin-bottom: 2%;
    border: solid rgba(112, 112, 112, 0.53) 1.5px;
    border-radius: 18px 18px 18px 18px;
  }
  footer.submenu {
    display: inline;
  }
  nav.footnav {
    text-align: center;
    background-color: #43adc0;
    color: white;
    height: 50px;
    border-radius: 18px 18px 0px 0px;
  }
  footer.submenu ul {
    list-style-type: none;
    margin-left: 20%;
    padding: 0;
    overflow: hidden;
  }
  footer.submenu li {
    float: left;
    padding-right: 20%;
  }
}

@font-face {
  font-family: glimmer;
  src: url(../fonts/glimmer_of_light/glimmer_of_light.otf);
}
/*# sourceMappingURL=estilos.css.map */