@import 'fondo';
@import 'header';
@import 'contenido';
@import 'sidebar';
@import 'footer';
@import 'movil';


@font-face {
    font-family: glimmer;
    src: url(../fonts/glimmer_of_light/glimmer_of_light.otf);
  }